<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">testAppsNsites</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" onclick="document.getElementsByClassName('active')[0].classList.remove('active'); this.classList.add('active')" routerLink="/login">Login </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  onclick="document.getElementsByClassName('active')[0].classList.remove('active'); this.classList.add('active')"routerLink="/">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"   onclick="document.getElementsByClassName('active')[0].classList.remove('active'); this.classList.add('active')"  routerLink="/list">list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="logout()" onclick="document.getElementsByClassName('active')[0].classList.remove('active'); this.classList.add('active')" >Logout</a>
      </li>


    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
