<div class="col-3"></div>
<div class="container col-6 card p-2" style="margin-top: 30px">
  <h5 class="card-title text-center m-4">Sign up </h5>
  <hr>
  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email"  placeholder="Enter email address">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="user.password" id="exampleInputPassword1" placeholder="Enter password">
    </div>
    <div class="d-flex justify-content-end">

      <button  class="btn btn-primary" (click)="login()">Login</button>
    </div>
  </form>
</div>
<div class="col-3"></div>
