<table class="table">
  <thead>
  <tr>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">email</th>
    <th scope="col">actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let u of list">
    <th >{{u.firstname}}</th>
    <td>{{u.lastname}}</td>
    <td>{{u.email}}</td>
    <td><button class="btn-danger btn" (click)="delete(u.uid)">delete</button></td>
  </tr>

  </tbody>
</table>
